pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_adsl2_delimited_text",
						"type": "DatasetReference",
						"parameters": {
							"adls2_endpoint": {
								"value": "@pipeline().parameters.adls2_endpoint",
								"type": "Expression"
							},
							"adls2_container_name": {
								"value": "@pipeline().parameters.adls2_container_name",
								"type": "Expression"
							},
							"adls2_directory_name": {
								"value": "@pipeline().parameters.adls2_directory_name",
								"type": "Expression"
							},
							"adls2_file_name": {
								"value": "@pipeline().parameters.adls2_file_name",
								"type": "Expression"
							},
							"compression_type": "None",
							"compression_level": "Optimal",
							"column_delimiter": ",",
							"encoding": "UTF-8",
							"escape_character": "\\",
							"quote_character": "\"",
							"first_row_as_header": true
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "aaa",
								"value": {
									"value": "@item().file_name",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"adls2_endpoint": {
				"type": "string",
				"defaultValue": "https://wahpadevazestraw.dfs.core.windows.net/"
			},
			"adls2_container_name": {
				"type": "string",
				"defaultValue": "test-container"
			},
			"adls2_directory_name": {
				"type": "string",
				"defaultValue": "test_folder"
			},
			"adls2_file_name": {
				"type": "string",
				"defaultValue": "*"
			}
		},
		"variables": {
			"aaa": {
				"type": "String"
			}
		},
		"annotations": []
	}
}