wahpa-dev-aze-adf/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "wahpa-dev-aze-adf"
		},
		"ls_az_sql_login_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_az_sql_login'",
			"defaultValue": "Integrated Security=False;Encrypt=True;Connection Timeout=30;Data Source=@{linkedService().az_sql_server_name};Initial Catalog=@{linkedService().az_sql_database_name};User ID=@{linkedService().az_sql_login_user_name}"
		},
		"ls_adls2_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "@{linkedService().adls2_endpoint}"
		},
		"ls_kv_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "@{linkedService().key_vault_URI}"
		},
		"test-trigger_properties_pipeline2_parameters_folderPath": {
			"type": "string",
			"defaultValue": "@triggerBody().folderPath"
		},
		"test-trigger_properties_pipeline2_parameters_fileName": {
			"type": "string",
			"defaultValue": "@triggerBody().fileName"
		},
		"test-trigger_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/687fe1ae-a520-4f86-b921-a80664c40f9b/resourceGroups/wahpa-dev-aze-rg-services/providers/Microsoft.Storage/storageAccounts/wahpadevazestraw"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/adls2_delimited_text_to_sql')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy delimited text from adls2 to sql",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Set az_sql_pre_copy_script",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 2,
							"retryIntervalInSeconds": 60,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"additionalColumns": [
									{
										"name": "pipeline_name",
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										}
									},
									{
										"name": "pipieline_run_id",
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										}
									},
									{
										"name": "ingest_timestamp",
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBatchTimeout": {
									"value": "@{pipeline().parameters.az_sql_write_batch_timeout}",
									"type": "Expression"
								},
								"preCopyScript": {
									"value": "@{variables('az_sql_pre_copy_script')}",
									"type": "Expression"
								},
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_adsl2_delimited_text",
								"type": "DatasetReference",
								"parameters": {
									"adls2_endpoint": {
										"value": "@pipeline().parameters.adls2_endpoint",
										"type": "Expression"
									},
									"adls2_container_name": {
										"value": "@pipeline().parameters.adls2_container_name",
										"type": "Expression"
									},
									"adls2_directory_name": {
										"value": "@pipeline().parameters.adls2_directory_name",
										"type": "Expression"
									},
									"adls2_file_name": {
										"value": "@pipeline().parameters.adls2_file_name",
										"type": "Expression"
									},
									"compression_type": {
										"value": "@pipeline().parameters.file_compression_type",
										"type": "Expression"
									},
									"compression_level": {
										"value": "@pipeline().parameters.file_compression_level",
										"type": "Expression"
									},
									"column_delimiter": {
										"value": "@pipeline().parameters.file_column_delimiter",
										"type": "Expression"
									},
									"encoding": {
										"value": "@pipeline().parameters.file_encoding",
										"type": "Expression"
									},
									"escape_character": {
										"value": "@pipeline().parameters.file_escape_character",
										"type": "Expression"
									},
									"quote_character": {
										"value": "@pipeline().parameters.file_quote_character",
										"type": "Expression"
									},
									"first_row_as_header": {
										"value": "@pipeline().parameters.file_first_row_as_header",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_az_sql_login",
								"type": "DatasetReference",
								"parameters": {
									"az_sql_server_name": {
										"value": "@pipeline().parameters.az_sql_server_name",
										"type": "Expression"
									},
									"az_sql_database_name": {
										"value": "@pipeline().parameters.az_sql_database_name",
										"type": "Expression"
									},
									"az_sql_login_user_name": {
										"value": "@pipeline().parameters.az_sql_login_user_name",
										"type": "Expression"
									},
									"az_sql_login_password_key_vault_URI": {
										"value": "@pipeline().parameters.az_sql_login_password_key_vault_URI",
										"type": "Expression"
									},
									"az_sql_login_password_kv_secret_name": {
										"value": "@pipeline().parameters.az_sql_login_password_kv_secret_name",
										"type": "Expression"
									},
									"az_sql_schema_name": {
										"value": "@pipeline().parameters.az_sql_schema_name",
										"type": "Expression"
									},
									"az_sql_table_name": {
										"value": "@pipeline().parameters.az_sql_table_name",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Set az_sql_pre_copy_script",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "az_sql_pre_copy_script",
							"value": {
								"value": "@if(\nequals(pipeline().parameters.az_sql_table_drop_pre_copy, true),\nconcat('DROP TABLE IF EXISTS [', pipeline().parameters.az_sql_schema_name,'].[', pipeline().parameters.az_sql_table_name, ']'),\n'' \n)",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"az_sql_server_name": {
						"type": "string",
						"defaultValue": "wahpa-dev-aze-sql.database.windows.net"
					},
					"az_sql_database_name": {
						"type": "string",
						"defaultValue": "SampleDB"
					},
					"az_sql_login_user_name": {
						"type": "string",
						"defaultValue": "User51126629"
					},
					"az_sql_login_password_key_vault_URI": {
						"type": "string",
						"defaultValue": "https://wahpa-dev-aze-kv.vault.azure.net/"
					},
					"az_sql_login_password_kv_secret_name": {
						"type": "string",
						"defaultValue": "wahpa-dev-aze-sql-admin-password"
					},
					"az_sql_schema_name": {
						"type": "string",
						"defaultValue": "dbo"
					},
					"az_sql_table_name": {
						"type": "string",
						"defaultValue": "airtravel"
					},
					"az_sql_write_batch_timeout": {
						"type": "string",
						"defaultValue": "00:30:00"
					},
					"adls2_endpoint": {
						"type": "string",
						"defaultValue": "https://wahpadevazestraw.dfs.core.windows.net/"
					},
					"adls2_container_name": {
						"type": "string",
						"defaultValue": "test-container"
					},
					"adls2_directory_name": {
						"type": "string",
						"defaultValue": "test_folder"
					},
					"adls2_file_name": {
						"type": "string",
						"defaultValue": "airtravel.csv"
					},
					"file_compression_type": {
						"type": "string",
						"defaultValue": "None"
					},
					"file_compression_level": {
						"type": "string",
						"defaultValue": "Optimal"
					},
					"file_column_delimiter": {
						"type": "string",
						"defaultValue": ","
					},
					"file_encoding": {
						"type": "string",
						"defaultValue": "UTF-8"
					},
					"file_escape_character": {
						"type": "string",
						"defaultValue": "\\"
					},
					"file_quote_character": {
						"type": "string",
						"defaultValue": "\""
					},
					"file_first_row_as_header": {
						"type": "bool",
						"defaultValue": true
					},
					"az_sql_table_drop_pre_copy": {
						"type": "bool",
						"defaultValue": true
					}
				},
				"variables": {
					"az_sql_pre_copy_script": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_adsl2_delimited_text')]",
				"[concat(variables('factoryId'), '/datasets/ds_az_sql_login')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_adsl2_delimited_text",
								"type": "DatasetReference",
								"parameters": {
									"adls2_endpoint": {
										"value": "@pipeline().parameters.adls2_endpoint",
										"type": "Expression"
									},
									"adls2_container_name": {
										"value": "@pipeline().parameters.adls2_container_name",
										"type": "Expression"
									},
									"adls2_directory_name": {
										"value": "@pipeline().parameters.adls2_directory_name",
										"type": "Expression"
									},
									"adls2_file_name": {
										"value": "@pipeline().parameters.adls2_file_name",
										"type": "Expression"
									},
									"compression_type": "None",
									"compression_level": "Optimal",
									"column_delimiter": ",",
									"encoding": "UTF-8",
									"escape_character": "\\",
									"quote_character": "\"",
									"first_row_as_header": true
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata1').output.childItems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Set variable1",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "aaa",
										"value": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"adls2_endpoint": {
						"type": "string",
						"defaultValue": "https://wahpadevazestraw.dfs.core.windows.net/"
					},
					"adls2_container_name": {
						"type": "string",
						"defaultValue": "test-container"
					},
					"adls2_directory_name": {
						"type": "string",
						"defaultValue": "test_folder"
					},
					"adls2_file_name": {
						"type": "string",
						"defaultValue": "*"
					}
				},
				"variables": {
					"aaa": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_adsl2_delimited_text')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Set var_folderPath",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "var_folderPath",
							"value": {
								"value": "@pipeline().parameters.folderPath",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set var_fileName",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "var_fileName",
							"value": {
								"value": "@pipeline().parameters.fileName",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"folderPath": {
						"type": "string"
					},
					"fileName": {
						"type": "string"
					}
				},
				"variables": {
					"var_folderPath": {
						"type": "String"
					},
					"var_fileName": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_adsl2_delimited_text')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Dynamic dataset for adls2 delimited text files",
				"linkedServiceName": {
					"referenceName": "ls_adls2",
					"type": "LinkedServiceReference",
					"parameters": {
						"adls2_endpoint": {
							"value": "@dataset().adls2_endpoint",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"adls2_endpoint": {
						"type": "string"
					},
					"adls2_container_name": {
						"type": "string"
					},
					"adls2_directory_name": {
						"type": "string"
					},
					"adls2_file_name": {
						"type": "string"
					},
					"compression_type": {
						"type": "string",
						"defaultValue": "None"
					},
					"compression_level": {
						"type": "string",
						"defaultValue": "Optimal"
					},
					"column_delimiter": {
						"type": "string",
						"defaultValue": ","
					},
					"encoding": {
						"type": "string",
						"defaultValue": "UTF-8"
					},
					"escape_character": {
						"type": "string",
						"defaultValue": "\\"
					},
					"quote_character": {
						"type": "string",
						"defaultValue": "\""
					},
					"first_row_as_header": {
						"type": "bool",
						"defaultValue": true
					}
				},
				"annotations": [
					"ds_adsl2_delimited_text"
				],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().adls2_file_name",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().adls2_directory_name",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().adls2_container_name",
							"type": "Expression"
						}
					},
					"columnDelimiter": {
						"value": "@dataset().column_delimiter",
						"type": "Expression"
					},
					"compressionCodec": {
						"value": "@dataset().compression_type",
						"type": "Expression"
					},
					"compressionLevel": {
						"value": "@dataset().compression_level",
						"type": "Expression"
					},
					"encodingName": {
						"value": "@dataset().encoding",
						"type": "Expression"
					},
					"escapeChar": {
						"value": "@dataset().escape_character",
						"type": "Expression"
					},
					"firstRowAsHeader": {
						"value": "@dataset().first_row_as_header",
						"type": "Expression"
					},
					"quoteChar": {
						"value": "@dataset().quote_character",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_az_sql_login')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Dynamic dataset for azure SQL using SQL login option",
				"linkedServiceName": {
					"referenceName": "ls_az_sql_login",
					"type": "LinkedServiceReference",
					"parameters": {
						"az_sql_server_name": {
							"value": "@dataset().az_sql_server_name",
							"type": "Expression"
						},
						"az_sql_database_name": {
							"value": "@dataset().az_sql_database_name",
							"type": "Expression"
						},
						"az_sql_login_user_name": {
							"value": "@dataset().az_sql_login_user_name",
							"type": "Expression"
						},
						"az_sql_login_password_key_vault_URI": {
							"value": "@dataset().az_sql_login_password_key_vault_URI",
							"type": "Expression"
						},
						"az_sql_login_password_kv_secret_name": {
							"value": "@dataset().az_sql_login_password_kv_secret_name",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"az_sql_server_name": {
						"type": "string"
					},
					"az_sql_database_name": {
						"type": "string"
					},
					"az_sql_login_user_name": {
						"type": "string"
					},
					"az_sql_login_password_key_vault_URI": {
						"type": "string"
					},
					"az_sql_login_password_kv_secret_name": {
						"type": "string"
					},
					"az_sql_schema_name": {
						"type": "string"
					},
					"az_sql_table_name": {
						"type": "string"
					}
				},
				"annotations": [
					"ds_az_sql_login"
				],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().az_sql_schema_name",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().az_sql_table_name",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_az_sql_login')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_adls2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Parameterised Data Lake linked service",
				"parameters": {
					"adls2_endpoint": {
						"type": "string"
					}
				},
				"annotations": [
					"ls_adls2"
				],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_adls2_properties_typeProperties_url')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_az_sql_login')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Parameterised Azure SQL server linked service using SQL login option",
				"parameters": {
					"az_sql_server_name": {
						"type": "string"
					},
					"az_sql_database_name": {
						"type": "string"
					},
					"az_sql_login_user_name": {
						"type": "string"
					},
					"az_sql_login_password_key_vault_URI": {
						"type": "string"
					},
					"az_sql_login_password_kv_secret_name": {
						"type": "string"
					}
				},
				"annotations": [
					"ls_az_sql_login"
				],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('ls_az_sql_login_connectionString')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "ls_kv",
							"type": "LinkedServiceReference",
							"parameters": {
								"key_vault_URI": {
									"value": "@linkedService().az_sql_login_password_key_vault_URI",
									"type": "Expression"
								}
							}
						},
						"secretName": {
							"value": "@linkedService().az_sql_login_password_kv_secret_name",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_kv')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_kv')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Parameterised key vault linked service",
				"parameters": {
					"key_vault_URI": {
						"type": "string"
					}
				},
				"annotations": [
					"ls_kv"
				],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('ls_kv_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/test-trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pipeline2",
							"type": "PipelineReference"
						},
						"parameters": {
							"folderPath": "[parameters('test-trigger_properties_pipeline2_parameters_folderPath')]",
							"fileName": "[parameters('test-trigger_properties_pipeline2_parameters_fileName')]"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/test-trigger/blobs/test-files/",
					"blobPathEndsWith": ".csv",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('test-trigger_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pipeline2')]"
			]
		}
	]
}